 html, body {
    height: 100%;
    margin: 0;
  }

  body {
    background: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  canvas {
    border: 1px solid #bdc4fe;
  }
  

  #label-container{
    width: 100vw;
        color: #bdc4fe;
  }