 html, body {
    height: 100%;
    margin: 0;
  }

  body {
    background: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  canvas {
    border: 1px solid #bdc4fe;
  }
  

  #label-container{
    text-align: center;
    font-size: 2rem;
    width: 100vw;
        color: #bdc4fe;
  }
  @media screen and (max-width: 600px) {
    canvas {
        transform: scale(2);
        transform-origin: center center;
        margin: 20px;
    }
    
    #label-container {
        font-size: 1.2rem;
        position: relative;
        bottom: auto;
        margin-top: 40px;
    }
    
    body {
        align-items: flex-start;
        padding-top: 30px;
        overflow: hidden;
    }
}